---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro"
import Logo from "../components/Logo.astro";
---

<Base title="404: Not found!">
    <Header/>
    <main class="box-border bg-slate-800 font-mono m-0 flex flex-col justify-center items-center w-screen h-screen">

        <Logo text=""/>
    </main>
</Base>