---
import Base from "../layouts/Base.astro";
import Logo from "../components/Logo.astro";
---

<Base title="404: Not found!">

    <main class="box-border font-mono m-0 flex flex-col justify-center items-center w-screen h-screen">

        <Logo text="404: Not found!"/>
    </main>
</Base>