---
import Base from '../layouts/Base.astro';


const posts = await Astro.glob("./blog/*.md");
const postsSorted = posts.sort((post) => post.frontmatter.date);
const postClass = ' relative border-2 w-full border-[#d97706] text-[#d97706] rounded-3xl backdrop-blur-sm gap-5 p-10 none'

---



<Base title="J7-Blog" color='#d97706a0'>

	<main class="parent gap-5 items-center justify-center w-screen  min-h-screen relative px-5 my-16 ">
		{postsSorted.map((post) => <a href={post.url} class={post.frontmatter.lang+postClass}>

			<h1 class="h-20">{post.frontmatter.title}</h1>
		
		</a>)}

	</main>
</Base>

<style>
	.parent {
		display: grid;
		grid-template-columns: 1fr;
	}

	.none {
		display: none;
	}

	@media (min-width: 768px) {
    .parent {
        grid-template-columns: 1fr 1fr 1fr;
    }

	.parent-post {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}
}
</style>


<script>

	function getCookie(cookieName) {
		let cookies = document.cookie.split("; ");
		for (let i = 0; i < cookies.length; i++) {
			let cookie = cookies[i].split("=");
			let name = cookie[0];
			let value = cookie[1];
			if (name === name) {
				return decodeURIComponent(value);
			}
			
		}
	}




	setInterval(() => {	
		if (!(document.cookie.includes("lang"))) {
			if (navigator.language == "cs" || navigator.language == "sk") {
				let expire = new Date();
				expire.setDate(expire.getDate() + 7);
				document.cookie = "lang=cs; expires=" + "; path=/"
			} else {
				let expire = new Date();
				expire.setDate(expire.getDate() + 7);
				document.cookie = "lang=en; expires=" + "; path=/"
			}
		}

	document.querySelectorAll("." + getCookie("lang")).forEach((e) => {
  		e.style.display = "block";
	})}, 500);
</script>