---
import Base from '../layouts/Base.astro';

const posts = await Astro.glob("./blog/*.md");
const postsSorted = posts.sort((post) => post.frontmatter.date);
const postClass = ' post backdrop-blur-xl shadow-lg'

---



<Base title="J7-Blog" color='#ca8a04'>

	<main class="parent">
		{postsSorted.map((post) => <a href={post.url} class={post.frontmatter.lang+postClass}>

			<h1 class="text-slate-text">{post.frontmatter.title}</h1>
		
		</a>)}

	</main>
</Base>

<style>
	:root {
		--yellow-600: #ca8a04;
	}
   	* {
		display: block;
		padding: 0;
		margin: 0;
   	}

	.post {
		border-width: 2px;
		border-color: var(--yellow-600);
		border-radius: 1.5rem;
		padding: 1.75rem;
		margin: 0 0.2em 0 0.2rem;
		transition: all 500ms ease-in-out;
	}

	.post:hover{
		box-shadow: 0px 0px 0.1rem var(--yellow-600),
				0px 0px 0.2rem var(--yellow-600),
				0px 0px 0.4rem var(--yellow-600),
				0px 0px 0.8rem var(--yellow-600);
	}

	.parent {
		margin: 6rem 0 6rem 0;
		width: auto;
		display: grid;
		grid-template-columns: repeat(1, minmax(20rem, 1fr));
		align-items: space-evenly;
		gap: 2em;
	}


	@media (min-width: 768px) {
		.parent {
			padding: 0 5rem;
			grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		}
	}

</style>

<!-- eventualy add likes in heart shape and animations like when you like the whole article turns red for a moment -->