---
import Base from '../layouts/Base.astro';

---

<Base title="J7">
	

	<main class="grid content-center justify-center w-screen  min-h-screen relative">


	</main>
</Base>

<style>

</style>

<!-- TODO: add different color to different sites when transitioning to then like big circle getting bigger from the point mouse is on the screen in color of the site  -->
<!-- TODO: add font-size: in wh not em; -->
 <!-- TODO: while(life){ sleep(); eat(); programm(); }  -->