---
import Base from '../layouts/Base.astro';
import Header from "../components/Header.astro"
import Logo from "../components/Logo.astro"
---

<Base title="J7">
	<Header/>

	<main class="grid place-items-center h-screen">
		
	</main>
</Base>