---
import Base from '../layouts/Base.astro';
import Header from "../components/Header.astro"


---

<Base title="J7">
	
	<Header/>

	<main class="grid content-center justify-center w-screen  min-h-screen relative">


	</main>
</Base>

<style>

</style>
