---

---

<nav id="nav" class="grid border-[#00b85f] border-solid border-2 rounded-3xl transition duration-500 backdrop-blur-sm shadow-xl text-center text-2xl text-[#00b65f] font-semibold gap-10 py-20 pr-64 pl-72">
    <h1 class="text-4xl">Menu</h1>
    <div class="flex flex-col">
        <a href="/about" class="transition-all duration-300 cursor-pointer bg-clip-text hover:text-transparent bg-gradient-to-br from-amber-600 to-yellow-600">About <span class="bg-clip-text text-transparent bg-gradient-to-br from-amber-600 to-yellow-600"><i class="fa-solid fa-folder fa-sm"></i></span></a>
        <a href="/projects" class="transition-all duration-300 cursor-pointer bg-clip-text hover:text-transparent bg-gradient-to-br from-cyan-600 to-blue-600">Projects <span class="bg-clip-text text-transparent bg-gradient-to-br from-cyan-600 to-blue-600"><i class="fa-solid fa-rocket fa-sm"></i></span></a>
    </div>
</nav>

<style>
    
    @import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');
  
    div, a , p {
      font-family: 'Belanosima', monospace;
    }
</style>