---
export interface Props {
    mainPage: boolean;
}

const { mainPage } = Astro.props;

---

<script>
    var clicked = true;
    document.getElementById("nav").style.cssText = "transform: translateY(0em); cursor: default;";
    
    

    function handleOut () {
        if (clicked) {
            clicked = false;
            document.getElementById("nav").style.cssText = null;
        }
    }

    function handleClick () {
        if (clicked) {
            document.getElementById("nav").style.cssText = null;
            clicked = false;
        } else {
            document.getElementById("nav").style.cssText = "transform: translateY(0em); cursor: default;";
            clicked = true;
        }
    }

    if(window.location.pathname != "/") {
        handleOut();
        document.getElementById("nav").addEventListener("click", handleClick);
        document.getElementById("nav").addEventListener("mouseleave", handleOut);
    }
    console.log(window.location.pathname);
</script>

<div class="flex flex-row justify-center w-screen items-center absolute -z-10 pointer-events-none max-md:invisible">
    <nav id="nav" class="flex flex-col border-green-950 border-solid  border-b-2 border-x-2  rounded-b-3xl md:-translate-y-[8.5em] -translate-y-[6em] hover:-translate-y-[6em] cursor-pointer transition duration-500 backdrop-blur-sm shadow-xl text-right text-2xl text-green-950 font-semibold gap-5 pt-5 pointer-events-auto">
        <div class="flex flex-col">
            <a id="home" href="/" class="transition-all duration-300 cursor-pointer pr-6 bg-clip-text text-transparent bg-gradient-to-br from-green-950 via-green-700 to-green-600 hover:drop-shadow-custom-green-950">Home <span class="bg-clip-text text-transparent bg-gradient-to-br"><i class="fa-solid fa-house fa-sm"></i></span></a>
            <a id="about" href="/blog" class="transition-all duration-300 cursor-pointer pr-6 bg-clip-text hover:text-transparent bg-gradient-to-br from-amber-600 to-yellow-600 hover:drop-shadow-custom-amber-600">Blog <span class="bg-clip-text text-transparent bg-gradient-to-br from-amber-600 to-yellow-600"><i class="fa-solid fa-folder fa-sm translate-y-[.05em]"></i></span></a>
            <a id="projects" href="/projects" class="transition-all duration-300 cursor-pointer pr-6 bg-clip-text hover:text-transparent bg-gradient-to-br from-violet-600 to-fuchsia-600 hover:drop-shadow-custom-violet-600">Projects <span class="bg-clip-text text-transparent bg-gradient-to-br from-violet-600 to-fuchsia-600"><i class="fa-solid fa-rocket fa-sm translate-y-[.157em]"></i></span></a>
        </div>

        <div class="flex flex-col justify-center items-center">
            <img src="/fullLogo.svg" alt="logo" class="w-60 p-6">
        </div>
    </nav>
</div>

<style>
    
    @import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');
  
    div, a , p {
      font-family: 'Belanosima', monospace;
    }

    .hover\:drop-shadow-custom-green-950:hover > span {
        filter: drop-shadow(0px 0px .2em #007d54);
    }

    .hover\:drop-shadow-custom-amber-600:hover > span{
        filter: drop-shadow(0px 0px .2em #D97706);
    }

    .hover\:drop-shadow-custom-violet-600:hover > span{
        filter: drop-shadow(0px 0px .2em #7C3AED);
    }




    /* @keyframes onLoad {
        70% {
            transform: translateY(0em);
        }
    }

    #nav {
        animation: onLoad 2s 1;
    } */
  </style>