---
// export interface Props {
//     color: string;
// }

// const { color = "#00b65f" } = Astro.props;

---

<div class="flex justify-evenly flex-row w-screen fixed top-0 bb border-solid border-b-2 border-green-950 shadow-xl rounded-b-3xl backdrop-blur-md text-2xl gap-2 p-6 pointer-events-auto md:invisible">
    <a id="about" href="/blog" class="transition-all duration-300 cursor-pointer bg-clip-text hover:text-transparent bg-gradient-to-br from-amber-600 to-yellow-600"><span class="bg-clip-text text-transparent bg-gradient-to-br from-amber-600 to-yellow-600"><i class="fa-solid fa-folder fa-sm"></i></span></a>
    <a id="home" href="/" class="transition-all duration-300 cursor-pointer bg-clip-text hover:text-transparent bg-gradient-to-br from-green-950 via-green-700 to-green-600"><img src="/fullLogo.svg" alt="logo" class="max-h-8"></a>
    <a id="projects" href="/projects" class="transition-all duration-300 cursor-pointer mt-[2px] bg-clip-text hover:text-transparent bg-gradient-to-br from-violet-600 to-red-600"><span class="bg-clip-text text-transparent bg-gradient-to-br from-violet-600 to-red-600"><i class="fa-solid fa-rocket fa-sm"></i></span></a>    
</div>

<!-- <style define:vars={{ color }}>
    .bb {
        border-color: var(--color);
    }
</style> -->