---
import Logo from "./Logo.astro";

---

<div class="flex flex-row justify-end w-screen items-end absolute z-100 ">
    <div class="flex flex-col border-[#007d54] border-solid border-b-2 border-l-2 shadow-xl rounded-bl-3xl backdrop-blur-2xl text-2xl gap-2 p-4">
    </div>
</div>