

<div class="flex justify-evenly flex-row w-screen fixed bottom-0 border-[#00b65f] border-solid border-t-2 border-x-2 shadow-xl rounded-t-3xl backdrop-blur-md text-2xl gap-2 p-4 pointer-events-auto md:invisible">
    <a href="https://www.github.com/jezura777/" target="_blank" class="hover:scale-150 duration-300 transition-all p-[0.125em] bg-clip-text text-transparent bg-gradient-to-br from-[#007d54] via-[#108d64] to-[#00b65f] cursor-pointer"><i class="fa-brands fa-github fa-sm cursor-pointer"></i></a>
    <a href="https://www.instagram.com/jezura777/" target="_blank" class="hover:scale-150 duration-300 transition-all p-[0.1em] bg-clip-text text-transparent bg-gradient-to-br from-purple-600 via-pink-600 to-yellow-600 cursor-pointer"><i class="fa-brands fa-instagram cursor-pointer"></i></a>
    <a href="https://discord.gg/9mBn7SjywE" class="bg-clip-text text-transparent bg-gradient-to-br pt-[0.15em] from-indigo-600 via-violet-600 to-purple-800 cursor-pointer hover:scale-150 duration-300 transition-all"><i class="fa-brands fa-discord fa-sm cursor-pointer"></i></a>
    <a href="https://www.youtube.com/@jezura777/" target="_blank" class="hover:scale-150 duration-300 transition-all p-[0.075em] bg-clip-text text-transparent bg-gradient-to-br from-red-600 via-rose-600 to-pink-800 cursor-pointer"><i class="fa-brands fa-youtube fa-sm cursor-pointer"></i></a>
</div>
