---
import Base from "./Base.astro";


const { frontmatter } = Astro.props;
---

<script>
	document.getElementById('true').querySelectorAll('p').forEach(element => {
		element.style.paddingTop = "2em";
	});
</script>

<Base title={frontmatter.title} color='#d97706'>

	<main class="">

		<div class="main backdrop-blur-sm">
			<div class="">
				<div class="" id={frontmatter.poem}>
					<h1 class="">{frontmatter.title}</h1>

					<div class="flex flex-col mx-3 3.75rem 0.2rem 3.75rem 0.2rem justify-between text-[#00b65f]">
						<p class="">{frontmatter.author}</p>
						<p class="">{frontmatter.date.slice(0, 10)}</p>
					</div>
					<div class="bg-[#00b65f] w-full h-[2px]"></div>

					<div class="mt-6">
						<slot />
					</div>
					
				</div>
			</div>
		</div>
		
	</main>
</Base>

<style>
   	* {
		display: block;
		padding: 0;
		margin: 0;
   	}

	.main {
		margin: 3.75rem 0.2rem 3.75rem 0.2rem;
		border-width: 2px;
		border-color: #d97706;
		color: #d97706;
		border-radius: 1.5rem;
		padding: 1.75rem;
		transition: all 500ms ease-in-out;
	}

	h1 {
		font-weight: 900;
		font-size: larger;
	}

	@media (min-width: 768px) {
		.main {
			margin: 3.75rem 5rem 3.75rem 5rem;
		}
	}
</style>
