---
import Base from "./Base.astro";


const { frontmatter } = Astro.props;
---

<script>
	document.getElementById('true').querySelectorAll('p').forEach(element => {
		element.style.paddingTop = "2em";
	});
</script>

<Base title={frontmatter.title} color='#d97706a0'>

	<main class="grid content-center justify-center w-screen  min-h-screen relative">

		<div class="absolute justify-self-center">
			<div class="flex flex-col border-[#d97706] text-[#d97706] border-solid border-2 shadow-xl rounded-3xl backdrop-blur-sm gap-5 p-10 m-20 min-h-min w-custom">
				<div class="container flex flex-col content-center justify-center" id={frontmatter.poem}>
					<h1 class="font-extrabold whitespace-nowrap mb-8">{frontmatter.title}</h1>

					<div class="flex flex-row justify-between text-sm text-[#00b65f]">
						<p>{frontmatter.author}</p>
						<p>{frontmatter.date.slice(0, 10)}</p>
					</div>
					<div class="h-px w-auto bg-[#00b65f] -mx-3"></div>

					<div class="flex flex-col justify-between py-10 text-[#d97706]">
						<slot />
					</div>
					
				</div>
			</div>
		</div>
		
	</main>
</Base>

<style>
	.w-custom {
		width:  calc(100vw - 7em);
	}
</style>
